.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.container nav img {
  height: 70px;
}

.container nav i {
  cursor: pointer;
  transition: all .3s ease;
}