.container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;
}

.container nav h1 {
  font-size: 2.5rem;
}

.container nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
  cursor: pointer;
}

.container nav ul li {
  transition: all .3s ease;
}

.container nav ul li:hover {
  color: var(--primary-color);
}